.navbar {
  
    
    background-color :rgb(247, 179, 53);
    height: fit-content;
    }
    
    span{
        padding: 5px
    }
    .b1{
        background-color: rgb(247, 179, 53);
        border: none;
        text-size-adjust: 10px;
    }
    mat-grid-tile {
       background-color: greenyellow;
      }
      img{
        width: 100%;height: 95%;
       }
    
       .example-card {
        max-width: 250px;
        max-height: 278px;
        text-align: center;
    display:flex;
    flex-direction: column;
   
    align-content: center;
   

 
      }
      .grid{
        text-align: center;
   
      }
      .card-title{
        text-align: center;
      }
      .a1 {
        max-width: 320px; max-height: 250px;
    
      }
      
      
      .w1 {
        background-color: #2a2d38;
       }
       
     
       .footer{
        
        text-decoration-color: wheat
        ;
    }
   .example-form{
    display: flexbox;
    background-color: deepskyblue;
   }
   .example-form {
    min-width: 150px;
    max-width:800px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  td {
    padding-right: 8px;
  }
  
  .submit{
    padding: 18px;
    background-color: rgb(248, 121, 16);
     
  }
  .img{
    width: 55px;
    height:55px
  }
  .img{
    width: 55px;
    height:55px
  }