<mat-toolbar color="warn" class="navbar"> 
  <span >swastik infosystem</span>
 <span >   <button mat-button color="white" routerLink="/home" routerLinkactive="active" >Home</button>
</span>

<span><button mat-button [matMenuTriggerFor]="afterMenu" class="b1">Web Development</button>
  <mat-menu #afterMenu="matMenu" xPosition="after">
    <button mat-menu-item routerLink="/cpannel" routerLinkactive="active">PHP Development</button>
    <button mat-menu-item routerLink="/domain" routerLinkactive="active">React Development</button>
  </mat-menu></span>



  <span >   <button mat-button color="white" routerLink="/hire" routerLinkactive="/contactus" >Hire Developer</button>
  </span>

<span><a routerLink="/domain" routerLinkactive="active"></a> </span>

<span >   <button mat-button color="white" routerLink="/contact" routerLinkactive="/contact" >contactus</button>
</span>


</mat-toolbar>
<mat-grid-list cols="2" rowHeight="4:2.8">
  <mat-grid-tile><h1 style="text-align: center;margin-top: 10px;">ReactJS Development <br>Company
    <br><h4>Scale Up Your Business by Hiring React Web Developers<br> From Swastik InfoSystem


  </h4><br><br>
    <button mat-raised-button  color="accent" (click)="openDialog()">Get Quote</button>
   </h1> 
   
   
  
    <br></mat-grid-tile>
  <mat-grid-tile><img src="./assets/r2.webp"></mat-grid-tile>
  
</mat-grid-list>
<mat-grid-list  cols="5" rowHeight="2:1">
  <h1 style="text-align: center;">Our Partenrs</h1>
  <mat-grid-tile>
<mat-card><img src="./assets/npci.png"></mat-card>
  </mat-grid-tile>
  <mat-grid-tile><img src="./assets/hitachi.png"><mat-card></mat-card></mat-grid-tile>
  <mat-grid-tile><mat-card><img src="./assets/ceat.png"></mat-card></mat-grid-tile>
  <mat-grid-tile><mat-card><img src="./assets/disney.png"></mat-card></mat-grid-tile>
  <mat-grid-tile><mat-card><img src="./assets/google.png"></mat-card></mat-grid-tile>
  
  
</mat-grid-list>
<mat-grid-list cols="1" rowHeight="4:1">

  <mat-grid-tile><h2 style="text-align: 
  center;">Why Choose ReactJS Framework?
  <br>
<h4 style="text-align: 
center;">
1.Easy scripting<br>
ReactJS offers a free extension, which goes by the name JSX.<br>   ReactElement Trees,in turn, make the application run faster.<br> 

2.Modular design<br>
The modular design of ReactJS allows you to make small changes with ease.<br>

3.Reusable components<br>
Reusable components offer their code for similar features without needing the developer to write it all over again.<br> In addition, ReactJS lets developers use individual application parts on both server and client sides.<br>

4.SEO friendly<br>
One of the key aspects of web development is SEO.  <br>




 </h4></h2></mat-grid-tile>
  

</mat-grid-list >

<mat-grid-list  cols="4" rowHzaeight="4.5:2.8"><h1 style="text-align: 
  center;">Process We Follow
  </h1><br>

<mat-grid-tile>
<br>
<mat-card><mat-card class="example-card">
<mat-card-header>
  <mat-card-subtitle></mat-card-subtitle>
  <mat-card-title ><mat-icon>assignment</mat-icon>
    <br>1. Requirement Gathering
    <br></mat-card-title>
</mat-card-header>
<mat-card-content>
  <p style="text-align: center;">We follow the firstpriority of <br>gathering requirements, and information to <br>begin our project.

  </p>
 <p></p>
  <mat-divider></mat-divider>
</mat-card-content>

  

<mat-card-footer>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</mat-card-footer>
</mat-card></mat-card>
</mat-grid-tile>
<mat-grid-tile><mat-card class="example-card">
  <mat-card-header>
    <mat-card-subtitle></mat-card-subtitle>
    <mat-card-title  style="text-align: center;"><mat-icon style="text-align: center;">computer</mat-icon>
      <br style="text-align: center;">2. UI/UX Design
      <br></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p style="text-align: center;" >We create catchy and charming designs<br> with the latest tools of designing <br>to make it a best user-friendly<br> experience.

      
   <p></p>
    <mat-divider></mat-divider>
  </mat-card-content>
  
    
  
  <mat-card-footer>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </mat-card-footer>
</mat-card></mat-grid-tile>
<mat-grid-tile><mat-card><mat-card class="example-card">
  <mat-card-header>
    <mat-card-subtitle></mat-card-subtitle>
    <mat-card-title  style="align-content: center;"> <mat-icon style="text-align: center">developer_board</mat-icon>
      <br>3. Prototype
      

    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p style="text-align: center;">
      After designing, you will get your prototype,<br> which will be sent ahead for the<br> development process for<br> the product.



    </p>
  

  </mat-card-content>
 
  <mat-card-footer>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </mat-card-footer>
</mat-card> </mat-card></mat-grid-tile>

<mat-grid-tile><mat-card class="example-card">
    <mat-card-header>
      <mat-card-subtitle></mat-card-subtitle>
      <mat-card-title  style="align-content: center;"> <mat-icon style="text-align: center;">swap_horiz</mat-icon>
        <br>     4. Deployment

      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p style="text-align: center;">
        After trial and following all processes,<br> your app is ready to launch on <br>the App store or Play Store.

      </p>
    

    </mat-card-content>
   
    <mat-card-footer>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </mat-card-footer>
  </mat-card></mat-grid-tile>


</mat-grid-list>


<app-footer><h4></h4></app-footer>
