<mat-toolbar color="warn" class="navbar"> 
    <span >swastik infosystem</span>
   <span >   <button mat-button color="white" routerLink="/home" routerLinkactive="active" >Home</button>
  </span>
  
  <span><button mat-button [matMenuTriggerFor]="afterMenu" class="b1">Web Development</button>
    <mat-menu #afterMenu="matMenu" xPosition="after">
      <button mat-menu-item routerLink="/cpannel" routerLinkactive="active">PHP Development</button>
      <button mat-menu-item routerLink="/domain" routerLinkactive="active">React Development</button>
    </mat-menu></span>
  
    <span >   <button mat-button color="white" routerLink="/hire" routerLinkactive="/contactus" >Hire Developer</button>
    </span>
  <span >   <button mat-button color="white" routerLink="/contact" routerLinkactive="/contact" >contactus</button>
  </span>
  
  
  </mat-toolbar>
  <mat-grid-list cols="2" rowHeight="4:2.8">
    <mat-grid-tile><h1 style="text-align: center;margin-top: 10px;">Contact Us
        <br>
      <br><h4>Scale Up Your Business by Hiring React Web Developers<br> From Swastik InfoSystem
  
  
    </h4><br><br>
      <button mat-raised-button  color="accent" (click)="openDialog()">Get Quote</button>
     </h1> 
     
     
    
      <br></mat-grid-tile>
    <mat-grid-tile><img src="./assets/contact.webp"></mat-grid-tile>
    
  </mat-grid-list>
  <mat-grid-list  cols="5" rowHeight="2:1">
    <h1 style="text-align: center;">Our Partenrs</h1>
    <mat-grid-tile>
  <mat-card><img src="./assets/npci.png"></mat-card>
    </mat-grid-tile>
    <mat-grid-tile><img src="./assets/hitachi.png"><mat-card></mat-card></mat-grid-tile>
    <mat-grid-tile><mat-card><img src="./assets/ceat.png"></mat-card></mat-grid-tile>
    <mat-grid-tile><mat-card><img src="./assets/disney.png"></mat-card></mat-grid-tile>
    <mat-grid-tile><mat-card><img src="./assets/google.png"></mat-card></mat-grid-tile>
    
    
  </mat-grid-list>
  

  <mat-grid-list cols="1" rowHeight="2:1.2">

    <mat-grid-tile><form class="example-form">
     
    
      <table class="example-full-width" cellspacing="0"><tr>
        <td> <p>
          <mat-form-field appearance="fill" style="margin: 5px;" class="form">
             <mat-label> Enter Name</mat-label>
             <input matInput placeholder="Name"  [formControl]="NameFromControl" >
             <mat-error *ngIf=" NameFromControl.hasError('required')">please enter your name</mat-error>
             <mat-icon matSuffix>person</mat-icon>
            
           </mat-form-field>
         </p></td>
        <td> <p>
          <mat-form-field appearance="fill" style="margin: 5px;" class="form">
             <mat-label>Last Name</mat-label>
             <input matInput placeholder="Name"  [formControl]="LastNameFromControl" >
             <mat-error *ngIf="LastNameFromControl.hasError('required')">please enter Last name</mat-error>
             <mat-icon matSuffix>person</mat-icon>
            
           </mat-form-field>
         </p><td>
      </tr></table>
      <p>
        <mat-form-field class="form" appearance="fill">
          <mat-label>Enter your email</mat-label>
          <input matInput placeholder="Email" [formControl]=" emailFromControl" >
          <mat-error *ngIf=" emailFromControl.hasError('required')">Email is required</mat-error>
          <mat-error  *ngIf=" emailFromControl.hasError('email') && !emailFromControl.hasError('required')">
            please enter a valid email id
          </mat-error>
        </mat-form-field>
      </p>

      <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>Telephone</mat-label>
          <span matPrefix>+1 &nbsp;</span>
          <input type="tel" matInput placeholder="555-555-1234" [formControl]=" emailFromControl">
          <mat-icon matSuffix>mode_edit</mat-icon>
          <mat-error *ngIf=" emailFromControl.hasError('required')">Email is required</mat-error>
        </mat-form-field>
      </form>
      
      <p>
        <mat-form-field class="example-full-width">
          <mat-label>Address</mat-label>
          <textarea matInput placeholder="Ex. 100 Main St" [formControl]=" AddressFromControl" >enter your address</textarea>
          <mat-error *ngIf="AddressFromControl.hasError('required')">Address is required</mat-error>

        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Skype</mat-label>
          <textarea matInput  [formControl]="skypeFromControl"></textarea>
          <mat-error *ngIf="skypeFromControl.hasError('required')">Skype required</mat-error>
        </mat-form-field>
      </p>
      <mat-form-field appearance="fill" floatLabel="always">
        <mat-label> Enter budget Amount</mat-label>
        <input matInput type="number" class="example-right-align" placeholder="0" [formControl]="budgetFromControl">
        <mat-error *ngIf="budgetFromControl.hasError('required')">budget is required</mat-error>
        <span matTextPrefix>$&nbsp;</span>
        <span matTextSuffix>.00</span>
      </mat-form-field>
    
      <table class="example-full-width" cellspacing="0"><tr>
        <td><mat-form-field class="example-full-width">
          <mat-label>City</mat-label>
          <input matInput placeholder="Ex. San Francisco" [formControl]="CityFromControl ">
          <mat-error *ngIf="CityFromControl .hasError('required')">please enter city</mat-error>
        </mat-form-field></td>
        <td><mat-form-field class="example-full-width">
          <mat-label>State</mat-label>
          <input matInput placeholder="Ex. California" [formControl]="StateFromControl ">
          <mat-error *ngIf="StateFromControl.hasError('required')">please enter State</mat-error>
        </mat-form-field></td>
        <td><mat-form-field class="example-full-width">
          <mat-label>Postal Code</mat-label>
          <input matInput #postalCode maxlength="5" placeholder="Ex. 94105" value="94043"  [formControl]="postalFromControl">
          <mat-error *ngIf="postalFromControl.hasError('required')">please enter postal code</mat-error>
          <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
        </mat-form-field></td>
      </tr>
    <tr>
      <td  ><input type = "submit"  style=" margin-left: 250px; " class=" submit"value = "submit"></td>
    </tr></table>
    </form>
    </mat-grid-tile>
    
  
  </mat-grid-list >
  



  <mat-grid-list  cols="4" rowHzaeight="4.5:2.8"><h1 style="text-align: 
    center;">Locate Us

    </h1><br>
  
  <mat-grid-tile>
  <br>
  <mat-card><mat-card class="example-card">
  <mat-card-header>
    <mat-card-title ><img src="./assets/india.svg" class="img"></mat-card-title><br>
    <br><h2  style="text-align: center;"><br>INDIA (HQ)</h2>
   
  </mat-card-header>
  <mat-card-content>
    <p style="text-align: center;">Block C, 106/B Ganesh Meridian,<br> Near Sola Bridge, Opp Gujarat <br>High Court, S.G. Highway,<br> Ahmedabad, Gujarat - 380061,<br> India.
<br>
      +91 8000-161-161
  
    </p>
   <p></p>
    <mat-divider></mat-divider>
  </mat-card-content>
  
    
  
  <mat-card-footer>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </mat-card-footer>
  </mat-card></mat-card>
  </mat-grid-tile>
  <mat-grid-tile><br>
    <mat-card><mat-card class="example-card">
    <mat-card-header>
      <mat-card-title ><img src="./assets/usa.svg" class="img"></mat-card-title><br>
      <br><h2  style="text-align: center;"><br>USA Office</h2>
     
    </mat-card-header>
    <mat-card-content>
      <p style="text-align: center;">One World Trade Center, 285 <br>Fulton Street suite 8500, New<br> York, NY 10007, United States & <br>Sunnyvale, CA, United States<br>

        <br>+1 309 791 4105
    
      </p>
     <p></p>
      <mat-divider></mat-divider>
    </mat-card-content>
    
      
    
    <mat-card-footer>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </mat-card-footer>
    </mat-card></mat-card>
    </mat-grid-tile>
  <mat-grid-tile><br>
    <mat-card><mat-card class="example-card">
    <mat-card-header>
      <mat-card-title ><img src="./assets/uk.svg" class="img"></mat-card-title><br>
      <br><h2  style="text-align: center;"><br>
       UK Office
        </h2>
     
    </mat-card-header>
    <mat-card-content>
      <p style="text-align: center;">Level 30, The Leadenhall <br>Building, 122 Leadenhall Street, <br>London EC3V 4AB<br>

        <br>+44 20 8133 8639
    
      </p>
     <p></p>
      <mat-divider></mat-divider>
    </mat-card-content>
    
      
    
    <mat-card-footer>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </mat-card-footer>
    </mat-card></mat-card>
    </mat-grid-tile>
  
  <mat-grid-tile>
    <br>
  <mat-card><mat-card class="example-card">
  <mat-card-header>
    <mat-card-title ><img src="./assets/mumbai.svg" class="img"></mat-card-title><br>
    <br><h2  style="text-align: center;"><br>Mumbai Office
    </h2>
   
  </mat-card-header>
  <mat-card-content>
    <p style="text-align: center;">Level 8, Vibgyor Towers, G Block,<br> C62 Bandra Kurla Complex,<br> Mumbai 400 098, India<br>

    <br>  +91 8000-161-161
  
    </p>
   <p></p>
    <mat-divider></mat-divider>
  </mat-card-content>
  
    
  
  <mat-card-footer>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </mat-card-footer>
  </mat-card></mat-card>
  </mat-grid-tile>
  


  
  
  
  </mat-grid-list>
  
  
  <app-footer><h4></h4></app-footer>
  
